
/*=============================================
=            breadcrumb            =
=============================================*/

.breadcrumb-area {
  .page-title {
    font-size: 16px;
    font-weight: 500;

    color: $black--twelve;
  }
}


/*=====  End of breadcrumb  ======*/

